<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />

    <title>@ViewBag.Title - My ASP.NET Application</title>

    <!-- CSS  -->
    
    
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/justified-nav.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

    <script src="~/Scripts/modernizr-2.8.3.js"></script>

    <link rel="shortcut icon" href="../img/favicon.png" type="image/png">

</head>
<body>
    <div class="container">
        <header class="my-bg-color">
                <div class="header clearfix">
                    <h2 class="">HR : @ViewBag.Title</h2>
                    <nav>
                        <ul class="nav nav-pills pull-right">
                            <li role="presentation">@Html.ActionLink("Main", "Index", "Home", new { area = "" }, new { @class = "" })</li>
                            <li role="presentation">@Html.ActionLink("Jod Titles", "Index", "JobTitle", new { area = "" }, new { @class = "" })</li>
                            <li role="presentation">@Html.ActionLink("Employees", "Index", "Employee", new { area = "" }, new { @class = "" })</li>
                            <li role="presentation">@Html.ActionLink("Info", "Index", "Info", new { area = "" }, new { @class = "" })</li>
                        </ul>
                    </nav>
                    
                </div>
        </header>

        @RenderBody()


        <footer class="my-bg-color">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 text-white" >
                        <div class="">
                           <h4>@Html.ActionLink("Main", "Index", "Home", new { area = "" }, new { @class = "" })</h4>
                            <h4>
                                @Html.ActionLink("Jod Titles", "Index", "JobTitle", new { area = "" }, new { @class = "" })
                            </h4>
                            <h4>
                                @Html.ActionLink("Employees", "Index", "JobTitle", new { area = "" }, new { @class = "" })
                            </h4>
                            <h4> @Html.ActionLink("Info", "Index", "Info", new { area = "" }, new { @class = "" })</h4>
</div>


                    </div>

                    <div class="col-lg-3 col-lg-offset-5 text-right" >
                        <h4 class="">Contacts:</h4>
                        <div class="">
                            <a>+3 8097 321 94 12</a>
                            <a class="text-white" href="mailto:ivan.arepjev@gmail.com">ivan.arepjev@gmail.com</a>
                        </div>
                        <h4 class="">Connect with me:</h4>
                        <div class="">
                            <p><a href="https://www.facebook.com/profile.php?id=100001875456272" target="_blank">facebook</a> | 
                            <a href="https://www.linkedin.com/in/ivan-arepjev-a8950613a/" target="_blank">linkedin</a> | 
                            <a href="skype:karadras@narod.ru?call" target="_blank">skype</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="text-center">
                    Copyright © 2017 <a class="orange-text text-lighten-3" href="http://ivanarepjev.netne.net/">Ivan Arepjev</a>. All rights reserved.  Made by <a class="text-white" href="http://bootstrap.com">Bootstrap</a>
                </div>
            </div>
        </footer>


        <!--  Scripts-->

        
        <script src="~/Scripts/jquery-3.2.1.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        @RenderSection("myscript", false)
        



    </div>
</body>
</html>
